

:root{

  //couleur de base
  --color-white : #fff;
  --color-black: #000;

  //couleurs du projet
  --color-liens: #202C4A;
  --color-liens-survol: #E53847;
  --color-liens-visited: #8B8B97;
  //--color-liens-active: #;
  //--color-liens-focus: #;

  --color-primaire: #FFFFFF;
  --color-secondaire: #F0F0F0;
  --color-tertiaire: #202C4A;

  --color-text-primaire: #000000;
  --color-text-secondaire: #FFFFFF;




}