
a {


  &:link {
    color: var(--color-liens);
    text-decoration: none;
  }

  &:visited {
    color: var(--color-liens-visited);
  }

  &:hover {
    color: var(--color-liens-survol);
    text-decoration: underline;
  }

  &:active {

  }

  &:focus {

  }

}